body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #42047E, #07F49E);
  display: flex;
  align-items: flex-end;
}

.portrait {
  height: 90vh;
  width: auto;
  mix-blend-mode: multiply;
}
